[submodule "exe/luajit-rocks"]
	path = exe/luajit-rocks
	url = https://gitee.com/raisingstar/luajit-rocks
[submodule "exe/qtlua"]
	path = exe/qtlua
	url = https://gitee.com/johnblack/qtlua
[submodule "pkg/dok"]
	path = pkg/dok
	url = https://gitee.com/johnblack/dok
[submodule "pkg/gnuplot"]
	path = pkg/gnuplot
	url = https://gitee.com/johnblack/gnuplot
[submodule "pkg/paths"]
	path = pkg/paths
	url = https://gitee.com/johnblack/paths
[submodule "pkg/cwrap"]
	path = pkg/cwrap
	url = https://gitee.com/johnblack/cwrap
[submodule "extra/cunn"]
	path = extra/cunn
	url = https://gitee.com/lkty/cunn.git
[submodule "extra/cutorch"]
	path = extra/cutorch
	url = https://gitee.com/nwpu-yjh/cutorch
[submodule "pkg/torch"]
	path = pkg/torch
	url = https://gitee.com/ZJRLMirrors/torch7
[submodule "pkg/sundown"]
	path = pkg/sundown
	url = https://gitee.com/johnblack/sundown-ffi
[submodule "pkg/qttorch"]
	path = pkg/qttorch
	url = https://gitee.com/johnblack/qttorch
[submodule "pkg/xlua"]
	path = pkg/xlua
	url = https://gitee.com/johnblack/xlua
[submodule "pkg/sys"]
	path = pkg/sys
	url = https://gitee.com/johnblack/sys
[submodule "pkg/image"]
	path = pkg/image
	url = https://gitee.com/johnblack/image
[submodule "pkg/optim"]
	path = pkg/optim
	url = https://gitee.com/zouxinyi0625/optim
[submodule "extra/threads"]
	path = extra/threads
	url = https://gitee.com/johnblack/threads-ffi
[submodule "extra/argcheck"]
	path = extra/argcheck
	url = https://gitee.com/johnblack/argcheck
[submodule "extra/cudnn"]
	path = extra/cudnn
	url = https://gitee.com/johnblack/cudnn.torch
[submodule "exe/trepl"]
	path = exe/trepl
	url = https://gitee.com/johnblack/trepl
[submodule "extra/nnx"]
	path = extra/nnx
	url = https://gitee.com/johnblack/lua---nnx
[submodule "extra/nn"]
	path = extra/nn
	url = https://gitee.com/xuzuoteng/nn
[submodule "exe/env"]
	path = exe/env
	url = https://gitee.com/johnblack/env
[submodule "extra/graph"]
	path = extra/graph
	url = https://gitee.com/johnblack/graph
[submodule "extra/nngraph"]
	path = extra/nngraph
	url = https://gitee.com/johnblack/nngraph
[submodule "extra/luaffifb"]
	path = extra/luaffifb
	url = https://gitee.com/lkty/luaffifb.git
[submodule "extra/luafilesystem"]
	path = extra/luafilesystem
	url = https://gitee.com/EmergingTechnologies/luafilesystem
[submodule "extra/penlight"]
	path = extra/penlight
	url = https://gitee.com/johnblack/Penlight
[submodule "extra/lua-cjson"]
	path = extra/lua-cjson
	url = https://gitee.com/metaworm/lua-cjson
[submodule "extra/moses"]
	path = extra/moses
	url = https://gitee.com/nwpu-yjh/Moses
